<section class="header ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light header text-white">
            <div class="container-fluid">
                <a class="navbar-brand " href="#">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img src='../../../assets/images/logo.svg' alt="">
                        </div>
                        <div>WinjiClasses</div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active bg-custom" aria-current="page" href="#"> How it works
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Explore
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> My Contest
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> My Pins
                            </a>
                        </li>

                    </ul>

                </div>
            </div>

        </nav>

    </div>
    <div>
        <div class="bg-custom-2  text-start mb-3">
            <h4 class="first ">
                Creative Math Classes Groups
            </h4>
        </div>
        <div class="bg-custom-3 text-start mb-5">
            <p class="second">
                This description of creative math classes groups This description of
                creative math classes groups
            </p>

        </div>
    </div>

</section>